$font-color: #c59e6e;

// font-family: 'Roboto', sans-serif;
// font-family: 'Prompt', sans-serif;
html {
  scroll-behavior: smooth;
}
:root {
  color: $font-color;
  background: #f7f1eb;
}
#my-scrollbar {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

body {
  font-family: "Prompt", sans-serif;
}

@keyframes wiggle {
  20% {
    box-shadow: inset -5px 0 5px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(7deg);
  }

  40% {
    box-shadow: inset -11px 0 5px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(-14deg);
  }

  60% {
    box-shadow: inset -5px 0 5px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(4deg);
  }

  80% {
    box-shadow: inset -8px 0 5px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(-2deg);
  }

  100% {
    box-shadow: inset -7px 0 5px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(0deg);
  }
}
@keyframes anti-wiggle {
  20% {
    transform: translateX(4px) rotate(-7deg);
  }

  40% {
    transform: translateX(-8px) rotate(14deg);
  }

  60% {
    transform: translateX(2px) rotate(-4deg);
  }

  80% {
    transform: translateX(-1px) rotate(2deg);
  }

  100% {
    transform: translateX(0px) rotate(0deg);
  }
}

.popup-content {
  padding: 0 !important;
  border: none !important;
}

#contract {
  height: 100vh;
  overflow-y: auto;
  .wrapper {
    height: 20vh;
    width: 100%;
    background: rgba(197, 158, 110, 0.1);
    display: flex;
    justify-content: center;
    div {
      padding: 1rem 2rem 0 2rem;
      width: 40%;
    }
  }
}

.text-contain {
  margin-top: 10%;
}

.highlight {
  background-color: #ffbab5;
}

@keyframes rolling {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.logo-wrapper {
  padding-bottom: 5%;
  margin-top: 18%;
  .logo {
    width: 8%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0%;
    z-index: 1;
    transition: 0.3s ease-out;
    -webkit-filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    &:hover {
      transform: rotate(180deg);
    }
  }
  .ring {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 0%;
    bottom: 0;
    right: 0;
    z-index: -1;
    animation: rolling 15s linear infinite;
  }
}

// form
.form {
  padding: 0 10%;
}
label {
  float: left;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  //   background: white;
  border: 1px $font-color solid;
  border-radius: 0.5rem;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: transparent;
  color: $font-color;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}
.send-contract {
  padding: 19px 39px 18px 39px;
  color: #fff;
  background-color: $font-color;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 1rem;
  width: 100%;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
  cursor: pointer;
}

#home {
  margin-top: 5rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  .highlight {
    font-size: 4rem;
  }
  .main-logo {
    // transition: 0.3s ease;
    margin-top: 5rem;
    #mainLogo {
      transition: 0.3s ease;
      transform-origin: center;
      &:hover {
        transform: scale(1.2);
      }
    }
    #text-circle {
      animation: rolling 10s infinite linear;
      transform-origin: center;
    }
  }
}

.video-container {
  width: 100vw;
  height: 100vh;
  background: white;
}
.box-transition {
  position: absolute;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  background: $font-color;
  // transition: 0.3s;
  opacity: 0;
}

#myVideo {
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

// btn zone
.btn {
  width: 6rem;
  padding: 1rem 2rem;
  background: transparent;
  border: 1px $font-color solid;
  color: $font-color;
  transition: 0.3s ease;
  margin: 0 2rem;
  cursor: pointer;
  &:hover {
    border-radius: 1rem;
  }
}
.btn-active {
  background: $font-color;
  color: white;
  border: 1px transparent solid;
  border-radius: 1rem;
}
.btn-wrapper {
  margin: 4rem 0;
  display: flex;
  justify-content: center;
}

.flex-wrapper {
  height: 150vw;
  padding: 0 15%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transform: scale(1.1);
  .card-bg {
    opacity: 0;
    width: 33.33%;
    margin: 0 1rem;
    background: url("../assets/card_1.png") round;
    background-size: contain;
    background-repeat: space;
    will-change: tranform;
    transition: 0.5s ease-out;
    // transition-duration: 1s;
    height: 1000vh;
  }
  .card-bg:nth-child(odd) {
    transform: translateX(0) translateY(-2700px) translateZ(0);
  }
  .card-bg:nth-child(even) {
    transform: translateX(0) translateY(-500px) translateZ(0);
  }
}
.btn-wrapper {
  width: 100vw;
  // height: 100vh;
  position: absolute;
  z-index: 4;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  top: 0;
  #card-btn {
    top: 50%;
    left: 50%;
    position: fixed;
    background: white;
    border-radius: 1rem;
  }
}
